@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;1,200&display=swap");

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.glass {
  @apply backdrop-blur-sm;
}

.overlay {
  @apply bg-secondary opacity-70 w-full h-full absolute cursor-pointer;
}

.lock-scroll {
  overflow-y: hidden !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.socialLinksBar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(25%, -50%);
  display: flex;
  flex-direction: column;
}

.socialLink {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .socialLink {
    margin-top: 50px;
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.hideScrollbar {
  height: full;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.parent[data-isOpen="true"] {
  width: 400px;
  height: 200px;
}
